* {
    box-sizing: border-box;
    font-family: cursive;
    font-style: italic;
}  
.logo{
    position: absolute;
    top: 8px;
    right: 6px;
    text-align: right;
}
.header {
    /*background-color: #E6E2DD;#373A36;*/
    color: whitesmoke;
    padding: 0px;
    width: 100%;
    position: sticky;
    top: 0;
}
.button_header {
    transition-duration: 0.4s;
    background-color: #E6E2DD;
    border: none;
    color: black;
    padding: 0px 19px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 8px;
    cursor: pointer;

}
.button_header:hover {

    background-color: #373A36; 
    color: white;
}
.top_line {
    top: 20px;

}
body {
      background-color: #E6E2DD;
      background-image: url("naslovna.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      font-family:Verdana;
      font-size: 16px;
}

.menu {
    float: left;  
    width: 10%;
    /*background-color: #E6E2DD;*/
}

.fa {
    padding: 8px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
}

.ham_menu{
    width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.main {
    float: left;
    width: 35%;
    padding: 0 20px;
    overflow: hidden;
}

li {
    padding-right: 25px;
}
li::before {
    padding: 55px;
}
.left {
    padding: 5px 5px;
    margin-top: 2px;
    float: left;
    width: 40%;
    color: black;
    /*background-color: #E6E2DD;
    border: 1px solid black;*/
    opacity: 1;
}

  /* View setting for different media tools*/
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}
.button {
    background-color: #D48166;
    border: none;
    color: white;
    padding: 0px 20px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 12px;
    cursor: pointer;
}


.footer {
    background-color:#373A36;
    color: whitesmoke;  
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size:12px;
}
.validator{
    position: absolute;
    bottom: 8px;
    right: 6px;
    text-align: right;
}
.products {
    font-size: 16px;
    line-height: 20px;
}
